@import "variables.scss";

footer {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-shrink: 0;

  .footer-container {
    margin: 0 auto;
    width: 230px;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style-type: none;
      a {
        font-family: "icons" !important;
        text-decoration: none;
        color: $color-dark;
        font-size: 30px;
        transition: color 0.2s ease-in-out;

        @media (min-width: $bp-md) {
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }

  p {
    margin-top: 26px;
    font-size: 14px;
    text-align: center;
  }
}
