$font-family: "Heebo";

$min-width: 320px;
$max-width: 1152px;
$max-width-container: 856px;

$bp-xl: $max-width-container + 12 + "px";
$bp-md: 991.98px;
$bp-sm: 767.98px;
$bp-xs: 479.98px;

$color-primary: #ff6464;
$color-secondary: #00a8cc;
$color-dark: #21243d;
$color-light: #8695a4;
$color-background: #edf7fa;